.vc-check-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #000 url("../public/urban-spork-bg.jpg") no-repeat left bottom / contain;
}

#vc-gated-dapp a {
  text-decoration: underline !important;
}

#vc-gated-dapp ul {
  margin-left: 20px;
}
